<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>

        html, body {
            background-color: lightgrey;
        }

        .card {

            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: white;
            margin: 50px auto;
            text-align: center;
            max-width: 60%;
            box-shadow: 5px 5px 5px grey;
            color: #252525;
        }

    </style>
</head>
<body>
<div class="card">
    <h1>Hello, Spring Boot!</h1>
    <p id="timestamp"></p>
</div>

<script type="application/javascript">

    setInterval(function () {
        fetch("/api/timestamp")
            .then(response => response.text())
            .then(text => document.getElementById("timestamp").innerText = text);
    }, 1000);

</script>

</body>
</html>